{% extends 'admin/layout.html.twig' %}

{% block title %}Edition d'un Post
{% endblock %}

{% block content%}
	<h1> Edition du post </h1>

	{{ include('admin/post/_form.html.twig') }}

	<a href="{{ path('admin_post_list') }}" class="mt-3 text-decoration-none fst-italic text-info bg-dark w-25 text-center rounded-2"> Retour à la liste des publications </a>
{% endblock %}