<nav class="navbar navbar-light" style="background-color: #2C3A49;">
  <div class="container">
    <a class="navbar-brand" href="{{path ('admin_dashboard')}}">
      <img src="{{ asset('uploads/pictures/logonala.png') }}" alt="" width="180" height="70">
    </a>  
        {% if app.user %}
          <a href="{{ path('app_logout') }}" class="btn btn-danger" role="button"> Déconnexion </a>
        {% else %}
           <a href="{{ path('app_login') }}" class="btn btn-primary" role="button"> Connexion </a>
        {% endif %}
  </div>
</nav>