<nav class="navbar navbar-light" style="background-color: #2C3A49;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ asset('images/logonala.png') }}" alt="" width="180" height="70">
    </a>
        <a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button"> Connexion </a>
        <!--<a href="#" class="btn btn-danger" role="button" data-bs-toggle="button"> Déconnexion </a>-->
  </div>
</nav>